<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="../node_modules/xcharts/build/xcharts.min.css">
		<link rel="stylesheet" href="/static/default.css">
		<link href="/static/bootstrap.min.css" rel="stylesheet">

		<style>
	      body {
	        padding-top: 60px;
	      }
		  
		  
	    </style>

		<script src="/static/d3.v3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="../node_modules/xcharts/build/xcharts.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
	</head>
	<body>

	<script>
             var dataSource = '/api/stats2?sprint={{sprint}}';
			 var chart = null;
			 function createChart(){
			 	var data = {
		  				"xScale": "ordinal",
		  				"yScale": "linear",
		  				"type": "line-dotted",
		  				"main": [
									{
									"className": ".main.l1",
									"data": [] // stats.burndown.data1
									},
									{
										"className": ".main.l2",
										"data": [] //stats.burndown.data2
									}
								],
						"comp": []
						};
	  				var tt = document.createElement('div'),
	  				leftOffset = -(~~$('html').css('padding-left').replace('px', '') + ~~$('body').css('margin-left').replace('px', '')),
	  				topOffset = -32;
	  				tt.className = 'ex-tooltip';
	  				document.body.appendChild(tt);
	  				var opts = {
		  							"dataFormatX": function (x) { return x; },
		  							"tickFormatX": function (x) { return x; },
		  							"xMin": 0,
		  							"yMin": 0,
		  							"mouseover": function (d, i) {
		    										var pos = $(this).offset();
		    										$(tt).text(d.x + ': ' + d.y)
		      										.css({top: topOffset + pos.top, left: pos.left + leftOffset, position: 'absolute'})
		      										.show();
		  										},
		  							"mouseout": function (x) {
		    										$(tt).hide();
		  										}
									};
      				var myChart = new xChart("bar", data, "#burndownChart", opts);
	  				chart = myChart;
			 }

            function requestData(){
                $.ajax({
                   url: dataSource,
                   success: function (stats) {
												var data = {
																"xScale": "ordinal",
																"yScale": "linear",
																"type": "line-dotted",
																"main": [
																			{
																				"className": ".main.l1",
																				"data": stats.burndown.data1
																			},
																			{
																				"className": ".main.l2",
																				"data": stats.burndown.data2
																			}
																		],
																"comp": []
																};
												chart.setData(data);
												setTimeout(requestData, 5000);
                   							},
                   cache: false
                });
            }

            //build chart using options above
            $(document).ready(function(){
				createChart();
                requestData();
            });


    </script>

	<!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    {{>menu.template}}

    <div class="container" style="width:95%;">
	    <div class="alert alert-info">
	  		<strong>What's on this page?</strong> You are currently viewing statistics of sprint <strong>{{sprint}}</strong>.
		</div>
	<div style="height:90%;">
		<h4>Burndown chart</h4>
		<figure style="width: 1100px; height: 500px;" id="burndownChart"></figure>
		<ul>
			<li>green: done estimate</li>
			<li>blue: ideal estimate</li>
		</ul>
	</div>
	<div style="height:10%; font-size: 11px;" >
		<table>
		<tr style="height:100px;">
			<td style="width:250px;">
				<h6>Statistics</h6>
					<p>
						Total estimate: {{statisticsSummary.totalEstimate}}<br/>
						Open estimate: {{statisticsSummary.openEstimate}}<br/>
						Total effort: {{statisticsSummary.effort}}
					</p>	
			</td>
			<td>
				<h6>Unfinished items</h6>
				<ul>
					{{#unfinishedItems}}
					<li><a href="{{url}}" title="{{name}}">{{name}}</a></li>
					{{/unfinishedItems}}
				</ul>
			</td>
		</tr>
	</table>
	</div>
	
	  

     

      <div class="alert alert-success">
	  	<strong>Last generation</strong>: {{generationTime}}
	  </div>

      <hr>

  	{{>footer.template}}
  </div>

	</body>
</html>